page-booking {

}

#upper {
    //background-image: url("../assets/img/book-bg3.png");
    background-color: white;
    height: 13%;
	width: 100%;
    position:relative;
    text-align: center;
    color: #263238;
}

#avat {
    padding-left: 42%;
    padding-top: 5%;
}

#second-left {
    background-color: #80DEEA;
    position:relative;
    text-align: center;
    color: white;
}

#second-right {
    background-color: #F48FB1;
    position:relative;
    text-align: center;
    color: white;
}

.button-slot {
    background-color: #58D3F7;
    border: none;
    color: white;
    width: 100%;

}
