page-profile {

}
#topbg {
    //background-image: url("../assets/img/gg1.jpg");
    background-color: #4DD0E1;
    text-align: center;
    color: white;
    height: 40%;
  	width: 100%;
    position:relative;
}

#photo_upload {
    padding-left: 90%;
    padding-top: 2%;
}